@font-face {
  font-family: "Typewriter";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/Typewriter-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter";
  font-weight: 300;
  font-style: normal;
  src: url("@/assets/fonts/Typewriter-Light.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter-V1";
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/Typewriter_v.1-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter-V1";
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/Typewriter_v.1-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter Test";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/TypewriterTest-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter Test";
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/TypewriterTest-Black.otf") format("opentype");
}

@font-face {
  font-family: "Polymer";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/Polymer-Normal.otf") format("opentype");
}
