@mixin mobile {
  @media screen and (max-width: $MOBILE-BREAKPOINT) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $MOBILE-BREAKPOINT + 1) {
    @content;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@function grid($n: 1) {
  @return $n * $grid + ($n - 1) * $gutter;
}
