@mixin pad($top, $bottom) {
  padding-top: $top; // Compensation
  padding-bottom: $bottom; // Compensation
}

@mixin text-compensation($top, $bottom) {
  &:before {
    margin-top: $top;
    display: block;
    content: '';
    height: 0px;
  }

  &:after {
    margin-top: $bottom;
    display: block;
    content: '';
    height: 0px;
  }
}

@mixin mobile {
  @media screen and (max-width: $MOBILE-BREAKPOINT) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $MOBILE-BREAKPOINT + 1) {
    @content;
  }
}

@mixin image($orientation: vertical, $ratio) {
  height: calc(var(--size) * $grid + (var(--size) - 1) * $gutter);

  @if $orientation == vertical {
    width: round((var(--size) * $grid + (var(--size) - 1) * $gutter) / $ratio, 8px);
  } @else {
    width: round((var(--size) * $grid + (var(--size) - 1) * $gutter) * $ratio, 8px);
  }
}

@mixin fixed-width {
  width: grid(38);
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@function grid($n: 1) {
  @return $n * $grid + ($n - 1) * $gutter;
}
