@mixin Body-1($device: Desktop) {
  font-family: "Typewriter Test";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  font-size: 22.4px;
  line-height: 28px;

  @include text-compensation(-7px, -5px);

  :deep(p + p) {
    margin-top: 28px;
  }
}

@mixin Body-2($device: Desktop) {
  font-family: "Typewriter Test";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  font-size: 22.4px;
  line-height: 28px;

  @include text-compensation(-7px, -5px);

  :deep(p + p) {
    margin-top: 28px;
  }
}

@mixin Em($device: Desktop) {
  font-family: "Typewriter Test";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  font-size: 11.4px;
  line-height: 28px;

  :deep(p + p) {
    margin-top: 28px;
  }
}

@mixin Emphasis($device: Desktop) {
  @include Em;
  @include text-compensation(-11px, -9px);
}

@mixin Interface($device: Desktop) {
  font-family: "Typewriter-V1";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  @if $device == Desktop {
    font-size: 22.4px;
    line-height: 28px;
    letter-spacing: -0.02em;

    @include text-compensation(-7px, -5px);

    :deep(p + p) {
      margin-top: 28px;
    }
  } @else {
    font-size: 16.5px;
    line-height: 20px;
    letter-spacing: -0.02em;

    @include text-compensation(-5px, -3px);

    :deep(p + p) {
      margin-top: 20px;
    }
  }
}

@mixin Caption($device: Desktop) {
  font-family: "Typewriter-V1";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  font-size: 11.4px;
  line-height: 16px;
  letter-spacing: -0.02em;

  @include text-compensation(-5px, -3px);
}

/* OLD STYLES TO BE CHECKED  */

@mixin Caption-Intro($device: Desktop) {
  font-family: "Typewriter-V1";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 22.86px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

@mixin Caption-Interface($device: Desktop) {
  font-family: "Typewriter-V1";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  font-size: 22.86px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

@mixin Caption-Button($device: Desktop) {
  font-family: "Polymer";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-transform: lowercase;

  font-size: 55px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

