@font-face {
  font-family: "Plastinka-Trial";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/trials/Polymer-Normal-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Plastinka-Trial";
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/trials/Polymer-Text-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Plastinka-Trial";
  font-weight: 600;
  font-style: normal;
  src: url("@/assets/fonts/trials/Polymer-SemiBold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Plastinka-Trial";
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/trials/Polymer-Bold-Trial.otf") format("opentype");
}
