/* PLASTINKA */
@font-face {
  font-family: "Plastinka-Trial";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/trials/plastinka/Plastinka-Regular-Trial-ver.11.otf") format("opentype");
}

/* TYPEWRITER */
@font-face {
  font-family: "Typewriter-Trial";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/trials/typewriter/Typewriter-Trial-ver.9.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter-Trial";
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/trials/typewriter/Typewriter-Medium-Trial-ver.1.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter-Trial";
  font-weight: 600;
  font-style: normal;
  src: url("@/assets/fonts/trials/typewriter/Typewriter-Medium-Trial-ver.2.otf") format("opentype");
}

/* REPRO */
@font-face {
  font-family: "Repro-Trial";
  font-weight: 300;
  font-style: normal;
  src: url("@/assets/fonts/trials/repro/Repro-Light-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Repro-Trial";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/trials/repro/Repro-Regular-Trial-ver.250209.otf") format("opentype");
}

@font-face {
  font-family: "Repro-Trial";
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/trials/repro/Repro-Outline-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Repro-Trial";
  font-weight: 600;
  font-style: normal;
  src: url("@/assets/fonts/trials/repro/Repro-Condensed-Trial-ver.230625.otf") format("opentype");
}

@font-face {
  font-family: "Polymer-Trial";
  font-weight: 300;
  font-style: normal;
  src: url("@/assets/fonts/trials/repro/Repro-Light-Trial.otf") format("opentype");
}

/* POLYMER */
@font-face {
  font-family: "Polymer-Trial";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/trials/polymer/Polymer-Normal-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Polymer-Trial";
  font-weight: 500;
  font-style: normal;
  src: url("@/assets/fonts/trials/polymer/Polymer-Text-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Polymer-Trial";
  font-weight: 600;
  font-style: normal;
  src: url("@/assets/fonts/trials/polymer/Polymer-SemiBold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Polymer-Trial";
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/trials/polymer/Polymer-Bold-Trial.otf") format("opentype");
}
