$MOBILE-BREAKPOINT: 776px;

$microgrid: 4px;
$grid: 16px;
$gutter: 12px;
$gap: $grid + 2 * $gutter;

$app-width-mobile: 390px;

$font: 'Typewriter';

$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #000AFF;
$color-yellow: #FAFF00;
$color-grey: #C4C4C4;
$color-green: #00FF00;
$color-pink: #FF00F5;
$color-red: #E00000;
